@import url('base/reset.css');
@import url('base/variables.css');
@import url('panel-admin/admin-styles.css');
@import url('components/auth.css');
@import url('components/btn-compartir.css');
@import url('components/btn-editor.css');
@import url('components/btn-reportes.css');
@import url('components/button.css');
@import url('components/form.css');
@import url('components/likes.css');
@import url('components/news-cards.css');
@import url('components/post-publicacion.css');
@import url('components/reportes.css');
@import url('components/workboard.css');
@import url('layout/estadisticas.css');
@import url('layout/footer.css');
@import url('layout/header.css');
@import url('layout/layout.css');
@import url('layout/navigation.css');
@import url('layout/panel-administrador.css');
@import url('layout/roles.stats.css');
@import url('layout/utilidades.css');
@import url('paneles/modal-borradores.css');
@import url('paneles/panel-metricas.css');
@import url('paneles/vista-previa.css');
